@import "../../styles/_vars.scss";

.popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  color: $purple;
  font-family: $regular-font;
  font-size: 16px;

  h2 {
    margin-top: 5.3rem;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77%;
    padding: 0;
    list-style: none;

    img {
      width: 150px;
      height: 100px;
    }
  }

  button {
    margin-top: 1.5rem;
    background: transparent;
    border: none;
    color: $text-color;
    font-family: $regular-font;
    font-size: 16px;
    width: 100%;
    padding: 12px 16px;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:hover {
      border-radius: 10px;
      background: linear-gradient(to right, $rose, $purple) border-box;
      color: $dark-blue;
      transition: 0.1s;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 10px;
      z-index: -1;
      border: 2px solid transparent;
      background: linear-gradient(to right, $rose, $light-blue) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      background: linear-gradient(to right, $rose, $purple) border-box;
      color: $dark-blue;
      transition: 0.1s;
    }
  }
}