$regular-font:"GandhiSansRegular";
$bold-font:"GandhiSansBold";

$text-color: #d9d9d9;
$dark-blue: #041833;
$light-blue: #154580;
$blue-footer: #04244f;
$rose: #c98cf1;
$purple: #7b78e5;
$light-gray: #9d9d9d;
$tag-color: rgba(148, 163, 184,0.3);